{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
	<title>画像アップロードのテスト</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="{% static 'upload/js/ajax.js' %}"></script>
    <script src="{% static 'upload/js/img_send.js' %}"></script>
</head>
<body>

    <h1 class="bg-primary text-center text-white">画像アップロードのテスト</h1>
    
    <main class="container">
        
        <p><a href="{% url 'upload:document' %}">ファイルのアップロードはこちら</a></p>

        <form id="upload_form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="photo" required>
            <input id="submit" class="form-control" type="button" value="送信">
        </form>

        <div id="content_area">
            {% include "upload/image_content.html" %}
        </div>
      
    </main>


</body>
</html>

